/* .nav{
    display: flex;
    flex-direction: column;
}
@me */

/* hamburger */
.checkbox {
    display: none;
  }
  
  .button {
    position: relative;
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: fixed;
    top: 5vh; 
    right: 5vw; 
    z-index: 2000;
    box-shadow: 0 1rem 3rem black;
    text-align: center; 
    cursor: pointer;
  }
  
  .background {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    top: 5.5vh; 
    right: 5.5vw; 
    background-image: radial-gradient(green, black);
    z-index: 1000;
  
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  }